@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <p>Olá, mundo! a data e hora do server é @DateTime.Now</p>
</div>
